<mat-toolbar color = "primary">
  <span>
    <a >Admin Panel</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="" routerLinkActive="mat-accent">Students</a>
    </li>
    <li>
      <a mat-button routerLink="/projects" routerLinkActive="mat-accent">Projects</a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Alumni</a>
    </li>
    <li>
        <a mat-button routerLink="/faculty" routerLinkActive="mat-accent">Faculties</a>

    </li>
  </ul>
</mat-toolbar>
